<section class="text-center py-5 mt-5 ">
  <div class="container mt-5">
    <div  >
      <img src="/images/avataaars.svg" class="my-img" alt="avataaars" />
    </div>
    <div class="content ">
      <h1 class="mt-5">START FRAMEWORK</h1>
      <div class="justify-content-center align-items-center  d-flex flex-wrap "><div class="line mx-2"> </div>
      <span class="mx-2"><i class="fa-solid fa-star"></i></span>
      <div class="line mx-2"> </div>
    </div>
      <p class="mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
