<section class="mt-5 pt-5 text-center">
  <div class="container my-4 py-4">
    <h1 class="text-uppercase">conatct section</h1>
    <div class="justify-content-center align-items-center d-flex flex-wrap">
      <div class="line mx-2"></div>
      <span class="mx-2"><i class="fa-solid fa-star mystar"></i></span>
      <div class="line mx-2"></div>
    </div>
  </div>
</section>
<form class="w-50 p-3 mx-auto mt-5">
  <input
    
    type="text"
    placeholder="userName"
    
    class="form-control mb-5 border-0 border-bottom py-3 "
  />
  <input
    
    type="text"
    placeholder="userAge"
    
    class="form-control mb-5 border-0 border-bottom py-3 "
  />
  <input
    
    type="text"
    placeholder="userEmail"
    
    class="form-control mb-5 border-0 border-bottom py-3 "
  />
  <input
    
    type="text"
    placeholder="userPassword"
    
    class="form-control mb-5 border-0 border-bottom py-3 "
  />
  <button class="btn mybtn mb-3">send Message</button>
</form>
