<section class=" py-5 text-center">
  <div class="container py-5  ">
    <div class="row gy-4 ">
      <div class="col-md-4">
        <div class="inner">
          <h2>LOCATION</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h2>AROUND THE WEB</h2>
          <div class="spans mt-4 ">
            <span class="mx-1" ><i class="fa-brands fa-facebook"></i></span>
          <span class="mx-1" > <i class="fa-brands fa-twitter"></i></span>
          <span class="mx-1" ><i class="fa-brands fa-linkedin-in"></i></span>
          <span class="mx-1"><i class="fa-solid fa-globe"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
