section{
    background-color: white !important;
    z-index:9999999 ;
}
.line{
    width: 80px;
    height: 4px;
    background-color: 
    rgb(44, 62, 80);
}
h1{
    
color:  rgb(44, 62, 80);
}
.mystar{
    color: rgb(44, 62, 80) ;
}
.layer{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}
.layer span{
    font-weight: 900;
    font-size: 6rem;
    line-height: 6rem;
}

.inner:hover .layer{
    opacity:90%;
}
