<section class="my-5 py-5 text-center">
  <div class="container my-4 py-4 vh-100">
    <h1 class="text-uppercase">portfolio component</h1>
    <div class="justify-content-center align-items-center d-flex flex-wrap">
      <div class="line mx-2"></div>
      <span class="mx-2"><i class="fa-solid fa-star mystar"></i></span>
      <div class="line mx-2"></div>
    </div>
    <div class="row gy-5 pt-3">
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
        >
          <a href=""
            ><img src="/images/poert1.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/poert1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          <a href=""
            ><img src="/images/port2.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/port2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
        >
          <a href=""
            ><img src="/images/port3.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/port3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal4"
        >
          <a href=""
            ><img src="/images/poert1.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal4"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/poert1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal5"
        >
          <a href=""
            ><img src="/images/port2.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal5"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/port2.png" alt="" />
            </div>
          </div>
        </div>
      </div>  
      <div class="col-md-4">
        <div
          class="inner overflow-hidden position-relative"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal6"
        >
          <a href=""
            ><img src="/images/port3.png" class="img-fluid rounded" alt=""
          /></a>
          <div
            class="layer position-absolute d-flex flex-wrap justify-content-center align-items-center rounded"
          >
            <span><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal6"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="/images/port3.png" alt="" />
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div>
</section>
